<mat-toolbar [style.height.%]="7">
  <h1 class="col-6 text-center">
    <button mat-button routerLink="">
      OurMusic
    </button>
  </h1>
  <h1 class="col-6 text-center">
    <button mat-button routerLink="/login" *ngIf="!isLoggedIn()">
      Login
    </button>
    <div *ngIf="isLoggedIn()" class="row justify-content-center">
      <button mat-button routerLink="/user">
        {{username}}
      </button>
      <mat-divider class="d-none d-md-block" [vertical]="true"></mat-divider>
      <button mat-button (click)="logout()">
        Logout
      </button>
    </div>
  </h1>
</mat-toolbar>


<a [@routeAnimations]="prepareRoute(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</a>

