
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ourmusic-front-primary: mat-palette($mat-gray, 500, 200, 700 );
$ourmusic-front-accent: mat-palette($mat-deep-purple, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ourmusic-front-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ourmusic-front-theme: mat-dark-theme($ourmusic-front-primary, $ourmusic-front-accent, $ourmusic-front-warn);

$ourmusic-background-color: (
  status-bar: black,
  app-bar:    map_get($mat-grey, 900),
  background: #303030,
  hover:      rgba(white, 0.04),
  card:       map_get($mat-grey, 900),
  dialog:     map_get($mat-grey, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black
);

//$background: map-get($ourmusic-front-theme, background);
$theme: map_merge($ourmusic-front-theme, (background: $ourmusic-background-color));
//$theme: map_merge($ourmusic-front-theme, (background: $background));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

